<% @title = 'Sources' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Source", new_source_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= render partial: 'layouts/index_functionality', locals: { object: :sources, per_page: params[:per_page], path: sources_path } %>

<div id="sources" class="index-content"></div>
