<% @title = 'Event Dictionaries' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Event Dictionary", new_event_dictionary_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= render partial: 'layouts/index_functionality', locals: { object: :event_dictionary, per_page: params[:per_page], path: event_dictionary_index_path } %>

<div id="event_dictionary" class="index-content"></div>

