- @title = 'Sign in'

%p.lead.center Welcome back!

.form-group
  %a.btn.btn-large.btn-default{href: user_ldap_omniauth_authorize_path}
    = image_tag "http://www.massgeneral.org/assets/images/thumb/th_partners_200x200.jpg", align: 'absmiddle'
    %br
    %h3 Sign In