.flash-block {
    display: none;
}

.chosen-container {
  .chosen-choices li.search-field input[type="text"].default {
    height: auto;
  }
}

.body-content {
  margin-top: 50px;
  margin-bottom: 20px;
}

#ajax_loader img{
  height: 25px;
}

#user_email {
  color: $brand-white;
}